{% extends 'base.html' %} {% load static %} {% block body %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section class="probootstrap-section probootstrap-section-lighter">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="probootstrap-card-media jpg-sm colored">
          <img
            src="{% static 'img/sharero1.jpg' %}"
            class="jpg"
            alt="Free HTML5 Template by uicookies.com"
            width="600"
            height="600"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="probootstrap-card text-center probootstrap-animate">
          <div
            class="probootstrap-card-text"
            　
            style="font-size: 25px; margin-left: 60px;"
          >
            <br />
            <br />
            <br />
            <br />
            <h2 class="probootstrap-card-heading">
              ShareRo|仕組み
            </h2>
            <p>
              ShareRoはホームシェアを安全に，簡単に始められるよう，メンバーの審査，カスタマイズ可能なハウスルールの設定，継続的なサポートを提供しています．
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section probootstrap-section-lighter">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div
          style="background-color: #2E348A; margin: 20px; border-radius: 20px; font-size: x-large;"
        >
          <h2 style="color: #fff; text-align: center; padding: 40px;">
            Host(ホスト)の流れ
          </h2>
        </div>
      </div>

      <div class="col-md-6">
        <div
          style="background-color: #2E348A; margin: 20px; border-radius: 20px; font-size: x-large;"
        >
          <h2 style="color: #fff; text-align: center; padding: 40px;">
            Mate(メイト)の流れ
          </h2>
        </div>
      </div>
    </div>
  </div>

 

</section>




<div class="timeline">
    <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="left" >
            <div
              style="border: solid rgb(185, 181, 175); border-radius: 20px; font-size: large; padding: 10px;"
            >
              <h2 style="text-align: left;">
                無料でリスティングを作成．
              </h2>
              <h2 style="text-align: left;">
                お家や，周辺環境に関して記載，お部屋の写真を掲載，月額料金を設定する．
              </h2>
              <h2 style="text-align: left;">
                あなたについての情報も忘れないで！ホームシェアはお互いを知ることが成功のカギ！
              </h2>
            </div>
        </div>
          </div>
    
        </div>
      </div>
    
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <div class="right">
            <div
              style="border: solid rgb(185, 181, 175); border-radius: 20px; font-size: large; padding: 10px;"
            >
              <h2 style="text-align: left;">
                無料でプロフィールを作成．
              </h2>
              <h2 style="text-align: left;">
                ホストがあなたを知るために重要な情報，趣味や興味関心，写真をシェアしよう．
              </h2>
            </div>
          </div></div>
      </div></div>

      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <div class="right">
            <div
              style="border: solid rgb(185, 181, 175); border-radius: 20px; font-size: large; padding: 10px;"
            >
            <h2 style="text-align: left;">
                リスティングから検索
              </h2>
              <h2 style="text-align: left;">
                最寄り駅やエリアから物件を検索，日程や料金から自分に合ったホームシェアを探そう．いいねについかすれば後でもう一度帰ってくることができる．
              </h2>
            </div>
          </div></div>
      </div></div>

      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <div class="right">
            <div
              style="border: solid rgb(185, 181, 175); border-radius: 20px; font-size: large; padding: 10px;"
            >
            <h2 style="text-align: left;">
                予約を送信
              </h2>
              <h2 style="text-align: left;">
                条件の良い物件が見つかったら，開始日と自己紹介を一緒にリクエスト送信，初めての自己紹介はしっかりね！
              </h2>
            </div>
          </div></div>
      </div></div>


      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="left" >
            <div
              style="border: solid rgb(185, 181, 175); border-radius: 20px; font-size: large; padding: 10px;"
            >
            <h2 style="text-align: left;">
                ハウスルールを設定
              </h2>
              <h2 style="text-align: left;">
                ハウスルールやシェアするスペースなどをホームシェア合意に組み込もう．
                コミュニケーションがホームシェア成功のカギ！
              </h2>
            </div>
        </div>
    </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
            class="threeflow" style="background-color: #2E348A; margin: 20px; border-radius: 20px; font-size: x-large; padding: 10px;"
            >
              <h2 style="color: #fff; text-align: center; padding: 20px;">
                メッセージ
              </h2>
              <p style="color: #fff; text-align: left; padding: 10px;">安全なShareRoのWeb上でメッセージのやり取りを始めよう！</p >
              <p style="color: #fff; text-align: left; padding: 10px;">次に電話や直接会うことも，パーフェクトな相手を見つけるためには必要．2人の間でルールを明確にしよう！</p　style="color: #fff; text-align: left;">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
              class="threeflow" style="background-color: #2E348A; margin: 20px; border-radius: 20px; font-size: x-large; padding: 10px;"
            >
              <h2 style="color: #fff; text-align: center; padding: 20px;">
                利用規約確認
              </h2>
              <p style="color: #fff; text-align: left; padding: 10px;">お互いがホームシェア開始に合意したら，ShareRoの利用規約に合意して，支払い方法を選択しよう．</p >
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
             class="threeflow" style="background-color: #2E348A; margin: 20px; border-radius: 20px; font-size: x-large; padding: 10px;"
            >
              <h2 style="color: #fff; text-align: center; padding: 20px;">
                ホームシェアスタート
              </h2>
              <p style="color: #fff; text-align: left; padding: 10px;">荷物をまとめて，引っ越し，ホームシェアを始めよう！</p >
              <p style="color: #fff; text-align: left; padding: 10px;">一度，ホームシェアを開始したら，金銭的な面はShareRoにお任せ．
              自動引落とし，自動振込で金銭的なトラブルを防止！
          必要な際には，ShareRo Help Teamが対応します．</p　style="color: #fff; text-align: left;">
            </div>
          </div>
        </div>
      </div>
</div>




<section class="probootstrap-section probootstrap-section-lighter">
  <div class="container">
    <div class="probootstrap-card-text" style="text-align:center">
      <h2 class="probootstrap-card-heading">
        今日，無料で始める？
      </h2>
      <p>
        <a href="{% url 'register:user_create' %}" style="font-size: xx-large; text-decoration: underline;"
          >Sign Up</a
        >
      </p>
    </div>
  </div>
</section>




{% endblock body %}
