{% extends "base.html" %} {% block body %} {{ form.non_field_errors }}
<section class="probootstrap-slider flexslider2 page-inner">
  <div class="overlay"></div>
  <div class="probootstrap-wrap-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="page-title probootstrap-animate">
            <h1>詳細情報</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="slides">
    <li style="background-image: url(img/slider_1.jpg);"></li>
    <li style="background-image: url(img/slider_4.jpg);"></li>
    <li style="background-image: url(img/slider_2.jpg);"></li>
  </ul>
</section>

<br />

<table class="table">
  <tbody>
    <tr>
      <th>ユーザー名</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>姓</th>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <th>名mei</th>
      <td>{{ user.first_name }}</td>
    </tr>

    <tr>
      <th>性別</th>
      <td>{{ user.gender }}</td>
    </tr>
  </tbody>
</table>
{% endblock body %}
