{% extends 'base.html' %} {% load bootstrap4 %} {% block body %}

<link
  rel="stylesheet"
  type="text/css"
  href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
/>
<!-- Add the slick-theme.css if you want default styling -->
<link
  rel="stylesheet"
  type="text/css"
  href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
/>
<!-- <link rel="stylesheet" href="css/style.css" /> -->

<section class="probootstrap-section">
  <div class="container">
    <!--
    <div class="row heading">
      <div class="col-md-12">
        <h2 class="mt0 mb50 text-center">{{property_detail}}</h2>
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-md-12">
        <ul class="slider">
          <li>
            <img src="{{property_detail.image.url}}" alt="image01" />
          </li>
          {% if property_detail.image2 %}
          <li>
            <img src="{{property_detail.image2.url}}" alt="image02" />
          </li>
          {% endif %} {% if property_detail.image3 %}
          <li>
            <img src="{{property_detail.image3.url}}" alt="image02" />
          </li>
          {% endif %} {% if property_detail.image4 %}
          <li>
            <img src="{{property_detail.image4.url}}" alt="image02" />
          </li>
          {% endif %} {% if property_detail.image5 %}
          <li>
            <img src="{{property_detail.image5.url}}" alt="image02" />
          </li>
          {% endif %}
        </ul>
        <!-- <p>
          <img
            src="{{property_detail.image.url}}"
            class="img-responsive"
            alt="Free Bootstrap Template by uicookies.com"
            style="width:60%"
          />
        </p> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div>
          <h2>自己紹介</h2>

          <p>
            <img
              src="{{property_detail.yourImage.url}}"
              class="img-responsive"
              alt="Free Bootstrap Template by uicookies.com"
              style="width:30%"
            />
          </p>
          <p>名前：{{property_detail.firstName}}</p>
          <p>年齢：{{property_detail.age}}</p>
          <p>性別：{{property_detail.gender}}</p>
          <p>コメント：{{property_detail.profile}}</p>

          <h3>学歴</h3>
          <p>最終学歴：{{property_detail.collageName}}</p>
          <p>学科：{{property_detail.facultyType}}</p>
          <p>学んだこと：{{property_detail.contextEducation}}</p>

          <h3>仕事</h3>
          <p>職業：{{property_detail.jobType}}</p>
          <p>会社：{{property_detail.companyName}}</p>
          <p>現在も働いているか：{{property_detail.workingNow}}</p>
          <p>仕事内容：{{property_detail.contextJob}}</p>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <h2>ご利用料金</h2>
          <p>家賃（全部で）：{{property_detail.price}}円/月</p>
        </div>

        <div>
          <h2>場所情報</h2>
          <p>周辺情報：{{property_detail.contextSurrounding}}</p>
          <p>お部屋情報：{{property_detail.contextRoom}}</p>
          <p>最寄駅：{{property_detail.contextStation}}</p>
          <p>都道府県：{{property_detail.city}}</p>
          <p>市区町村：{{property_detail.address}}</p>
        </div>

        <div>
          <h2>お部屋情報</h2>
          <p>ペット：{{property_detail.petsType}}</p>
          <p>家具：{{property_detail.furniture}}</p>
          <p>同居者：{{property_detail.member}}</p>
          <p>同居者（18才未満）：{{property_detail.memberUnder18}}</p>
          <p>バスルームタイプ：{{property_detail.bathroomType}}</p>
          <p>共有できるアメニティ：{{property_detail.sharableItems}}</p>
          <p>共有できる部屋：{{property_detail.sharableSpace}}</p>
        </div>

        <div>
          <h2>お部屋ルール</h2>
          <p>入居を遠慮します：{{property_detail.excludeMateType}}</p>
          <p>ペットの許可：{{property_detail.petsPermission}}</p>
          <p>喫煙の許可：{{property_detail.smokingPersiion}}</p>
          <p>友達招待の許可：{{property_detail.visiterPersiion}}</p>
          <p>友達宿泊の許可：{{property_detail.visiterStayPersiion}}</p>
          <p>配慮して欲しいこと：{{property_detail.memoRoomDetail}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% if user.is_authenticated %} {% if not user.is_Nester %}
<section class="probootstrap-section">
  <div class="container">
    <!--
      <div class="row heading">
        <div class="col-md-12">
          <h2 class="mt0 mb50 text-center">{{property_detail}}</h2>
        </div>
      </div>
      -->
    <div class="row">
      <div class="col-md-12">
        <!--文の長さ-->
        <h2>Reserve This Property</h2>
        <form action="" method="POST">
          {% csrf_token %} {% bootstrap_form reserve_form %} {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit申請を出す
          </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-slider flexslider2 page-inner">
  <div class="container">
    <div class="card col-md-6">
      <div class="card-body">
        <a href="{}" class="btn btn-primary">コンタクトを取る</a>

        <a
          href="{% url 'register:user_create_partner' %}"
          class="btn btn-secondary"
          >いいねを送る</a
        >
      </div>
    </div>
  </div>
</section>
{% endif %} {% endif %}
<script
  type="text/javascript"
  src="http://code.jquery.com/jquery-1.11.0.min.js"
></script>
<script
  type="text/javascript"
  src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"
></script>
<!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
<script
  type="text/javascript"
  src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".your-class").slick({
      autoplay: true,
      autoplaySpeed: 5000,
      dots: true
    });
  });

  $(".slider").slick({
    autoplay: true,
    autoplaySpeed: 5000,
    dots: true
  });
</script>
{% endblock body %}
