{% extends 'base.html' %} {% load bootstrap4 %} {% block body %}

<section class="probootstrap-slider flexslider2 page-inner">
  <div class="overlay"></div>
  <div class="probootstrap-wrap-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <div class="page-title probootstrap-animate">
                <div class="probootstrap-breadcrumbs">
                  <a href="#">Home</a><span><a href="{% url 'property:property_list' %}">Properties</a></span>{{property_detail}}
                </div>
                <h1>家情報</h1>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="slides">
    <li style="background-image: url(img/slider_1.jpg);"></li>
    <li style="background-image: url(img/slider_4.jpg);"></li>
    <li style="background-image: url(img/slider_2.jpg);"></li>
  </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
  <div class="container">
    <!--
    <div class="row heading">
      <div class="col-md-12">
        <h2 class="mt0 mb50 text-center">{{property_detail}}</h2>
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-md-12">
        <p>
          <img
            src="{{user.property.image.url}}"
            class="img-responsive"
            alt="Free Bootstrap Template by uicookies.com"
            style="width:60%"
          />
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!--文の長さ-->
        <h2>詳細情報</h2>
        <p>場所：{{user.property.location}}</p>
        <p>住所：{{user.property.address}}</p>
        <p>タイプ：{{user.property.property_type}}</p>
        <p>エリア：何駅から徒歩{{user.property.area}}分</p>
        <p>ベッド数：{{property_detail.beds_number}}</p>
        <p>ガレージ数：{{property_detail.garages_number}}</p>
      </div>
    </div>
  </div>
</section>

{% endblock body %}

