{% extends 'base.html' %} {% load bootstrap4 %} {% block body %}
{% load static %}
<!-- <section class="probootstrap-slider flexslider2 page-inner">
  <div class="overlay"></div>
  <div class="probootstrap-wrap-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <div class="page-title probootstrap-animate">
                <div class="probootstrap-breadcrumbs">
                  <a href="#">Home</a><span><a href="{% url 'property:property_list' %}">Properties</a></span>{{property_detail}}
                </div>
                <h1>Step 3/5</h1>
                <h1>お部屋の写真</h1>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="slides">
    <li style="background-image: url(img/slider_1.jpg);"></li>
    <li style="background-image: url(img/slider_4.jpg);"></li>
    <li style="background-image: url(img/slider_2.jpg);"></li>
  </ul>
</section> -->
<!-- END: slider  -->

<h1>Step 3/5</h1>
<h2>お部屋の画像</h2>
<section class="probootstrap-section">
    <div class="container">
      <!--
      <div class="row heading">
        <div class="col-md-12">
          <h2 class="mt0 mb50 text-center">{{property_detail}}</h2>
        </div>
      </div>
      -->
      <div class="row">
        <div class="col-md-12">
          <!--文の長さ-->
          <h2> {{user.email}}さん</h2>
          <form action="" method='POST'  class="post-form" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- {% bootstrap_form property_form %} -->
                <!-- {{property_form.as_p}} -->
              {% for field in property_form %}
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-8">
                    {{ field }}
                </div>
              </div>
              {% endfor %}

              <p>最低1枚、最大5枚の写真をアップロードしてください。</p>

              {% buttons %}
                  <button type="submit" class="btn btn-primary">次のStep</button>
              {% endbuttons %}
          </form>


          

          <!-- <input type="file" id="myImage" accept="image/*"> -->
          <img id="preview">
            <p class="btn_upload">
              
            </p>
          </div>
          
          <!-- <img id="preview2"> -->
          

          <script>
            for (var i = 2; i < 6; i++){
    
            document.write('<img id="preview'+String(i)+'">' + "</p>");
            }
          </script>

          <script src="{% static 'js/jquery.min.js' %}"></script>
    
          <script>
            aarg = '#id_image'
            $(aarg).on('change', function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview").attr('src', e.target.result).css('width','60%');
            }
            reader.readAsDataURL(e.target.files[0]);
            });

            $('#id_image2').on('change', function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $('#preview2').attr('src', e.target.result).css('width','60%');
              }
              reader.readAsDataURL(e.target.files[0]);
              });
            $('#id_image3').on('change', function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $('#preview3').attr('src', e.target.result).css('width','60%');
              }
              reader.readAsDataURL(e.target.files[0]);
              });
            $('#id_image4').on('change', function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $('#preview4').attr('src', e.target.result).css('width','60%');
              }
              reader.readAsDataURL(e.target.files[0]);
              });
            $('#id_image5').on('change', function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $('#preview5').attr('src', e.target.result).css('width','60%');
              }
              reader.readAsDataURL(e.target.files[0]);
              });
            
            
            // コード短くしたい
            // for (var i = 2; i < 5; i++){
            //   arg = '#id_image'+String(i)
            //   console.log(arg)
            //   $('#id_image'+String(i)).on('change', function (e) {
            //   var reader = new FileReader();
            //   reader.onload = function (e) {
            //     console.log('#preview'+String(i))
            //       $('#preview'+String(i)).attr('src', e.target.result).css('width','60%');
            //   }
            //   reader.readAsDataURL(e.target.files[0]);
            //   });
            // }
          </script>



        </div>
      </div>
    </div>
  </section>


{% endblock body %}