{% extends 'base.html' %} {% load bootstrap4 %} {% block body %}
<script
  src="https://yubinbango.github.io/yubinbango/yubinbango.js"
  charset="UTF-8"
></script>

<h1>お振込み先</h1>

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--文の長さ-->
        <h2>{{user.email}}さん</h2>
        <form
          action=""
          method="POST"
          class="h-adr"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <span class="p-country-name" style="display:none;">Japan</span>
          {% bootstrap_form payout_form %}
          <!-- {{property_form.as_p}} -->
          {% buttons %}
          <button type="submit" class="btn btn-primary">完了</button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
